.ant-layout-header {
  background: #1DA57A;
}
.ant-layout-header{
  margin: 0;
  padding: 0;
}
.header-layout{
  margin:0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}